.button-close {
    height: 32px;
    width: 32px;
    outline: none;
    border: none;
    background-color: $BUTTON;
    @extend %flex-row-c;
    align-items: center;
    padding: 2px;
    
    &__img {
        width: 28px;
        height: 28px;
        fill: $GREY;
        stroke: none;
        @extend %flex-row-c;
        align-items: center;
        &:hover {
            fill: $MERGE;
            transition: fill ease-in-out 0.2s;
        }
        &:not(:hover) {
            transition: fill ease-in-out 0.2s;
        }
    }
    &:focus &__img {
        fill: transparent;
        transform: rotate(-120deg);
        transition: transform ease-in-out 1s, height ease-in-out 1s,
            width ease-in-out 1s;
        height: 0;
        width: 0;
    }
    &:focus {
        transform: rotate(-90deg);
        background-color: transparent;
        transition: background-color linear 0.5s, transform ease-in-out 0.4s;
    }

    &:hover &__item,
    &:hover &__item::before,
    &:hover &__item::after {
        background-color: $MERGE;
        transition: background-color 0.2s ease-in-out;
    }
    &:not(:hover) &__item,
    &:not(:hover) &__item::before,
    &:not(:hover) &__item::after {
        transition: background-color 0.2s ease-in-out;
    }
}