%flex-row {
    display: flex;
    flex-direction: row;
}

%flex-row-c {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

%flex-row-sb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

%flex-row-fs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

%flex-col {
    display: flex;
    flex-direction: column;
}

%flex-col-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%flex-col-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

%flex-col-fs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
