$MERGE: #50e3c2;
$BLACK: #111111;
$LINK: #4faefe;
$BUTTON: #1f1f1f;
$BUTTON-HOVER: #37cdab;
$ERROR: #f1465a;
$GREY: #898989;
$TEXT: #ffffff;
$LINE: #333333;

$base-font: 'Montserrat', sans-serif;
$title-font: 'Roboto Mono', monospace;
